parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     hotelNowy
    database_user:     root
    database_password: linux

    mailer_transport:  gmail
    mailer_host:       ~
    mailer_user:       expiredmind93@gmail.com  
    mailer_password:   Aspik12aspik12

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
